
body {
    font-family: "Segoe UI", sans-serif;
    background: linear-gradient(120deg, #0f2027, #203a43, #2c5364);
    color: white;
    height: 100vh;
}

.container {
    width: 450px;
    margin: 60px auto;
    background: #111;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

h1 {
    text-align: center;
    margin-bottom: 5px;
}

.subtitle {
    text-align: center;
    color: #aaa;
    margin-bottom: 25px;
}

input, select {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: none;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

button {
    width: 100%;
    padding: 14px;
    background: #00c6ff;
    border: none;
    color: black;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #0072ff;
    color: white;
}

.result {
    margin-top: 20px;
    padding: 15px;
    background: #1f2933;
    border-left: 4px solid #00c6ff;
    font-size: 16px;
}
